<!DOCTYPE type>
<html>
<head>
<title>:table</title>
</head>
<body>
 <table border="1" width="250px" height="150px">
	      <tr>
		  <td colspan="5" bgcolor="gray"></td>
		  </tr>
		  <tr height="75px">
		  <td width="160px" bgcolor="black"></td>
		  <td></td>
		  <td></td>
		  <td></td>
		  <td></td>
		  </tr>
		  <tr>
		  <td colspan="5" bgcolor="gray"></td>
		  </tr>
		  </table>
<table border="1" width="250px" height="150px">
	      <tr>
		  <td colspan="5" bgcolor="gray"></td>
		  </tr>
		  <tr height="75px">
		  <td width="180px" bgcolor="black"></td>
		  <td></td>
		  <td></td>
		  <td></td>
		  <td></td>
		  </tr>
		  <tr>
		  <td colspan="5" bgcolor="gray"></td>
		  </tr>
		  </table>
<table border="1" width="400px" height="200px">
	      <tr>
		  <td colspan="5" bgcolor="gray"></td>
		  </tr>
		  <tr height="75px">
		  <td width="300px" bgcolor="black"></td>
		  <td></td>
		  <td></td>
		  <td></td>
		  <td></td>
		  </tr>
		  <tr>
		  <td colspan="5" bgcolor="gray"></td>
		  </tr>
		  </table> 
		  
<table border="1" width="400px" height="200px">
	      <tr>
		  <td colspan="6" bgcolor="gray"></td>
		  </tr>
		  <tr height="75px">
		  <td></td>
		  <td></td>
		  <td></td>
		  <td width="180px" ></td>
		  <td bgcolor="black"></td>
		  </tr>
		  <tr>
		  <td colspan="6" bgcolor="gray"></td>
		  </tr>
		  </table>
		  
<table border="1" width="400px" height="200px">
	      <tr>
		  <td colspan="6" bgcolor="gray"></td>
		  </tr>
		  <tr height="75px">
		  <td></td>
		  <td></td>
		  <td></td>
		  <td width="240px" ></td>
		  <td bgcolor="black"></td>
		  </tr>
		  <tr>
		  <td colspan="6" bgcolor="gray"></td>
		  </tr>
		  </table>
		  
<table border="1" width="400px" height="200px">
	      <tr>
		  <td colspan="6" bgcolor="gray"></td>
		  </tr>
		  <tr height="75px">
		  <td></td>
		  <td></td>
		  <td></td>
		  <td width="300px" ></td>
		  <td bgcolor="black"></td>
		  </tr>
		  <tr>
		  <td colspan="6" bgcolor="gray"></td>
		  </tr>
		  
		  </table>
		 	  
<table border="1" width="400px" height="200px">
	      <tr>
		       <td colspan="4" bgcolor="gray"></td>
		  </tr>
		  <tr>
		       <td colspan="1" color="white"></td>
			   <td></td>
			   <td></td>
			   <td></td>
		  </tr>
		  <tr>
		       <td colspan="4" bgcolor="gray"></td>
		  </tr>	
		   </table>
		  </body>
		  </html>